<!--
<footer>
    <div class="footer py-3 mt-3">
       
            <div class="container">
                <span class="text-muted">
                    
                </span>
            </div>
        
    </div>
</footer>
-->
<br><br><br><br>
    
<footer class="py-5 bg-dark text-white text-center">

    <div class="text-muted">
        Numaright ©2023-Tüm içerik haklari saklidir
    </div>
    
        <ul class="text-right">
            <a href="https://github.com/NumaIYI" class="navbar-brand">Github</a>
                    
            <a href="https://tr.linkedin.com/in/ahmed-numan-%C3%A7ift%C3%A7i-96305a243" class="navbar-brand">Linkedin</a>
                    
            <a href="numanbey11@gmail.com" class="navbar-brand">Email</a>
        
            <a href="https://www.instagram.com/ahmednuman.ciftci/" class="navbar-brand">Instagram</a>
        </ul>
    
</footer>