{% extends 'layout.html' %}
{% load static %}

{% block content %}



 
        <div class="jumbotron text-success">
            <div class="container">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">
                        Who are we?
                    </h1>
                    <p class="lead my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque deleniti architecto ut ipsa, tempore repellat! Magnam eos odit itaque autem quas sunt necessitatibus totam. Natus aut incidunt eius ipsa cumque!</p>
                    <p class="lead mb-0">
                        <a href="#" class="text-white font-weight-bold">
                            Continue Reading
                        </a>
                    </p>
                </div>
            </div>
        </div>

    

    <main>
        <div class="container">

            <div class="row">

                <div class="col-md-8">
                    <div class="card mb-4">

                        <img src="{% static 'img/img2.jpg' %}" class="card-img-top img-thumbnail" alt="">

                        <div class="card-body">

                            <h4 class="card-title">
                                Post title
                            </h4>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet eaque nobis repellat in sequi tempora magnam unde aliquid, quis autem.
                            </p>
                            <button type="button" class="btn btn-success">
                                Read More
                            </button>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on October 12,2022

                        </div>
                    
                    </div>

                    <div class="card mb-4">

                        <img src="{% static 'img/img6.jpg' %}" class="card-img-top img-thumbnail" alt="">

                        <div class="card-body">

                            <h4 class="card-title">
                                Post title
                            </h4>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet eaque nobis repellat in sequi tempora magnam unde aliquid, quis autem.
                            </p>
                            <button type="button" class="btn btn-success">
                                Read More
                            </button>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on January 21,2021

                        </div>
                    
                    </div>

                    <div class="card mb-4">

                        <img src="{% static 'img/img7.jpg' %}" class="card-img-top img-thumbnail" alt="">

                        <div class="card-body">

                            <h4 class="card-title">
                                Post title
                            </h4>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet eaque nobis repellat in sequi tempora magnam unde aliquid, quis autem.
                            </p>
                            <button type="button" class="btn btn-success">
                                Read More
                            </button>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on December 1,2019

                        </div>
                    
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>Search</h5>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Go</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>Memories</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">Mangal</a>
                                        </li>
                        
                                        <li><a href="#">Fokur</a></li>
                                        <li><a href="#">Tatil</a></li>
                            
                                    
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled">
                                        
                                            <li><a href="#">Sohbet</a></li>
                                            <li><a href="#">Araba</a></li>
                                            <li><a href="#">Ev</a></li>
                                            
                                        
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>Widget</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil fugiat ab ullam dicta error.
                            </p>
                            
                        </div>
                    </div>

                </div>                

            </div>
    
        </div>
    
    </main>

    
    
    
    

<!--
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Stories</h1>
      <p class="lead">Most popular</p>
    </div>
</div>

<br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/img7.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">
                                High life
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sunt ullam architecto odit eum dolorum.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">517 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/img2.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">
                                Numas gang
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sunt ullam architecto odit eum dolorum.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">465 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/img3.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">
                                Thug IYI
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sunt ullam architecto odit eum dolorum.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">1005 days ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
-->

{% endblock %}